<h1>Split.gg</h1>

<%= form_with url: teams_path, method: :post, local: false, id: "team-form"  do %>
  <div class="teams-container">
    <!-- チーム A -->
    <div class="team team-left">
      <h2>チーム A</h2>
      <% 5.times do |i| %>
        <div class="player-row">
          <label for="players_<%= i %>_summoner_name">サモナー名 <%= i + 1 %></label>
          <input
            type="text"
            id="players_<%= i %>_summoner_name"
            name="players[<%= i %>][summoner_name]"
            placeholder="例: Faker"
          />

          <label for="players_<%= i %>_tag">タグ</label>
          <input
            type="text"
            id="players_<%= i %>_tag"
            name="players[<%= i %>][tag]"
            placeholder="例: jp1"
            class="tag-input"
          />

          <select name="players[<%= i %>][rank]" id="players_<%= i %>_rank">
            <option value="" disabled selected>ランク選択</option>
            <option value="unranked">ランクなし</option>
            <%# divisionを付与するtier %>
            <% @tiers_with_division = ['Iron', 'Bronze', 'Silver', 'Gold', 'Platinum', 'Emerald', 'Diamond'] %>
            <%# Iを付与するtier %>
            <% @tiers_without_division = ['Master', 'Grandmaster', 'Challenger'] %>
            <%# 数字をローマ数字に変更する %>
            <% @roman_numerals = { 4 => "IV", 3 => "III", 2 => "II", 1 => "I" } %>

            <% @tiers_with_division.each do |tier| %>
              <% (4).downto(1) do |division| %>
                <% roman = @roman_numerals[division] %>
                <option value="<%= "#{tier.upcase}#{roman}" %>"><%= "#{tier.upcase}#{roman}" %></option>
              <% end %>
            <% end %>

            <% @tiers_without_division.each do |tier| %>
              <option value="<%= "#{tier.upcase}I" %>"><%= "#{tier.upcase}I" %></option>
            <% end %>
          </select>
        </div>
      <% end %>
    </div>

    <!-- チーム B -->
    <div class="team team-right">
      <h2>チーム B</h2>
      <% 5.times do |i| %>
        <% j = i + 5 %>
        <div class="player-row">
          <label for="players_<%= j %>_summoner_name">サモナー名 <%= j + 1 %></label>
          <input
            type="text"
            id="players_<%= j %>_summoner_name"
            name="players[<%= j %>][summoner_name]"
            placeholder="例: Uzi"
          />

          <label for="players_<%= j %>_tag">タグ</label>
          <input
            type="text"
            id="players_<%= j %>_tag"
            name="players[<%= j %>][tag]"
            placeholder="例: jp2"
            class="tag-input"
          />

          <select name="players[<%= j %>][rank]" id="players_<%= j %>_rank">
            <option value="" disabled selected>ランク選択</option>
            <option value="unranked">ランクなし</option>

            <% @tiers_with_division.each do |tier| %>
              <% (4).downto(1) do |division| %>
                <% roman = @roman_numerals[division] %>
                <option value="<%= "#{tier.upcase}#{roman}" %>"><%= "#{tier.upcase}#{roman}" %></option>
              <% end %>
            <% end %>

            <% @tiers_without_division.each do |tier| %>
              <option value="<%= "#{tier.upcase}I" %>"><%= "#{tier.upcase}I" %></option>
            <% end %>
          </select>
        </div>
      <% end %>
    </div>
  </div>

  <div class="buttons">
    <button type="button" id="get-rank">ランク取得</button>
    <button type="button" id="create-team">チーム作成</button>
    <button type="button" id="save">保存</button>
  </div>
<% end %>